body {
    font-family: Karla, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 10px 0;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

section {
    background: #f4f4f4;
    margin-top: 5px;
    padding: 0px;
    margin: 200px;
    border-radius: 5px;
    display: none;  /* Sections are hidden by default */
    text-align: center;  /* Center-align text */
    font-size: 1.2em;    /* Increase font size */
}

#home {
    display: block;  /* Home section is visible by default */
    text-align: center; /* Centers the images horizontally */
    padding: 20px;
}

h1 {
    margin-top: 0px;
    font-size: 5em;     /* Larger font size for headings */
}

h2 {
    font-size: 2em;
}


.home-photo {
    width: 100%;        /* Makes the image responsive */
    max-width: 400px;   /* Sets a maximum width */
    height: auto;       /* Maintains the aspect ratio */
    border-radius: 10px; /* Optional: Rounds the corners */
    display: block;     /* Ensures the image is a block element */
    margin: 20px auto;  /* Centers the image and adds some space around it */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Ensure hidden sections are not displayed */
.hidden {
    display: none;
}


